html, body, .container-table{
  height: 100%;
  background: var(--color-grey);
}

.container-table {
    display: table;
}
.main-row {
    display: table-cell;
    vertical-align: middle;
}

h1,h2,h3 {
    text-align: center;
}

.text-green {
    color: var(--color-green);
}
.text-red {
    color: var(--color-red);
}

@media (max-width:320px) {
    .main-row {
      vertical-align: top;
      padding-top: 30%;
    }
}

@media (min-width:321px) and (max-width:1024px) {
    .main-row {
      vertical-align: top;
      padding-top: 30%;
    }
    h1 {
      font-size: 8rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 1.8rem;
    }
    body {
      font-size: 1.8rem;
    }
}

@media (min-width:1025px) {
    h1 {
      font-size: 16rem;
    }
    h2 {
      font-size: 6rem;
    }
    h3 {
      font-size: 4rem;
    }
}

.fa {
    font-family: sans-serif, 'FontAwesome'!important;
}

.mb-4 {
  margin-bottom: 4vh;
}